.table {
  width: 100%;
  padding: 2rem;
  background: #218c74;
  box-sizing: border-box;
  margin: 0 auto;
}

.table-middle {
  height: 0.5rem;
  width: 100%;
  background: white;
}

/* @media only screen and (min-width: 1025px) {
    .table {
        max-width: 100%;
        transform: rotateZ(90deg);
    }

} */