.table {
  width: 100%;
    background: #218c74;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(33, 140, 116),rgb(33, 140, 116) 50%, rgb(49, 156, 132) 50%, rgb(49, 156, 132) 100%); /* W3C */

}

.table-middle {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player-icon-wrapper {
  width: 25%;
  padding: 1rem;
  border-radius: 4rem;
  z-index: 10;
}
.player-icon-wrapper__side-a{
    height: 100%;
    background: #218c74;
}

.player-icon-wrapper__side-b{
    background: #319c84;
}

.team-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20% 2rem;
  box-sizing: border-box;
}

.cup-row {
  margin-top: -15%;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
